<ion-header>
<!--   <p class="text1">Đồ Án Tốt Nghiệp</p> -->
</ion-header>

<ion-content>
   <p class="text1 animated rollIn delay-1s ">Đồ Án Tốt Nghiệp</p> 
   <p class="text3 animated rollIn delay-2s">Phan Thị Huế, Mssv:123260, Lớp 60TH2</p>
  <!-- <ion-item-divider color="">
  </ion-item-divider> -->
  <p class="text2 animated rollIn delay-3s">Đề tài:Phát triển phần mềm tính toán cốt thép móng.</p> 
  <ion-button shape="round" class="button1" href="../tabs/tab2">Bắt Đầu</ion-button>
  <ion-button shape="round" class="button1">Thoát</ion-button>
  <p class="text4">2015-2019</p>
    
</ion-content>
<ion-footer>
 
  
</ion-footer>
